body {
  background-color: lightgrey;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  border-color: black;
  background-color: white;
  justify-content: center;
  width: 60%;
  align-self: center;
  margin: 5px 0px 5px 0px;
}

.post-category {
  text-align: center;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
  margin: 5px 0px 5px 0px;
}

.post-title {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
  margin: 5px 0px 5px 0px;

}

.post-author {
  text-align: center;
  font-size: 1em;
  font-family: 'Josefin Slab', serif;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin: 5px auto 5px ;
  width: 90%;
}

.post-body {
  text-align: left;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  margin: 5px auto 5px ;
  width: 90%;
}

.vote-container{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  margin-bottom: 10px;

}

.vote-increment {
  top: 20px;
  left: 15px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-image: url('../../images/plus-sign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  margin: auto;
}

.vote-decrement {
  top: 20px;
  left: 15px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-image: url('../../images/minus-sign.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  margin: auto;
}

.vote-count {
  text-align: right;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  margin: 5px auto 5px ;
}


/*font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Slab', serif;*/
