.nav-bar {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}

.nav-bar li {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
